@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #181618;
  color: #f7fffb;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  font-family: 'Source Sans 3', sans-serif !important;
  color: #f7fffb;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
}

a:hover {
  display: block;
  text-shadow:
    0 0 1px #6b6b6b,
    0 0 2px #6b6b6b,
    0 0 4px #6b6b6b,
    0 0 8px #6b6b6b;
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) 1s 1s infinite;
}

input:focus {
  border: white 1px solid !important;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 46px;
}

span {
  font-size: 28px;
}

p,
a {
  font-size: 22px;
}

span {
  font-family: 'Source Sans 3', sans-serif;
}
p {
  font-family: 'Inter', sans-serif;
}

.hero button,
.contact button {
  background-color: #00a795;
  padding: 15px 1.7vw;
  border: none;
  color: #f7fffb;
  transition: 0.3s all ease-in-out;
  border-radius: 7px;
}

.hero button:hover,
.contact button:hover {
  cursor: pointer;
  background-color: #00796d;
}

.projects,
.hero,
.about,
footer {
  padding-inline: 3vw;
}

.projects,
.about {
  margin-top: 16vh;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  span {
    font-size: 24px;
  }

  p,
  a {
    font-size: 20px;
  }
}

/* Para telas menores que 992px */
@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  span {
    font-size: 22px;
  }

  p,
  a {
    font-size: 19px;
  }
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
 
}
